@import 'input';
@import 'items';

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(134, 204, 121);
}
h1 {
  font-family: 'Dokdo', cursive;
  font-size: 50px;
}
